<?xml version="1.0" encoding="UTF-8"?>
<!--

     ESUP-Portail eCandidat - Copyright (c) 2016 ESUP-Portail consortium


     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.

-->
<configuration scan="true">

	<property name="logsPath" value="target/test-classes/logs/" />

	<property name="defaultPattern" value="%date{HH:mm:ss.SSS} [%thread] %-5level %mdc{username} %logger - %message%n" />

	<!-- increases performances for jul -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>

	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logsPath}/ecandidat.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${logsPath}/ecandidat-%d.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- deletes older files -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>

	<logger name="fr.univlorraine.ecandidat" level="trace" />

	<root level="info">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</root>

</configuration>